body {
    background-color: #629D66;
    font-family: 'Trebuchet MS', Arial;
    background-image: url(img/bg.png);
    background-size: 25%;
}

main {
    max-width: 900px;
    background-color: white;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 4 fr;
    grid-template-areas: 
    "h h"
    "as ar"
    "f f";
}

header {
    font-size: 80px;
    background-image: url(img/logo1.jpg);
    color: white;
    background-repeat: no-repeat;
    background-size: auto;
    grid-area: h;
    text-indent: 400px;
}

aside {
    grid-area: as;
    width: 200px;
}

nav {
    background-image: url(img/img02.gif);
    background-repeat: no-repeat;
    background-color: #96A96F;
    background-position-x: right;
    background-position-y: bottom;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    list-style-type: none;
}

article {
    text-align: justify;
    grid-area: ar;
    padding-left: 15px;
    max-width: 700px;
    padding-right: 100px;
    font-size: 12pt;
}

footer {
    grid-area: f;
    background-color: #203926;
    text-align: center;
    color: white;
    padding: 5px;
}

h3 {
    background-color: #203926;
    color: white;
    padding: 5px;
}

a {
    text-decoration: none;
    color: green;
}

li {
    text-align: center;
    padding: 5px;
    padding-bottom: 10px;
}

img {
    margin: 5px;
    margin-right: 20px;
    float: left;
}

h1 {
    margin-top: 5px;
}